h2{
    padding: 0 2rem;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.5px solid #b5b5b5;
    padding: 0.5rem 2rem;
    height: 6rem;
}

.info{
    max-width: 20rem;
    font-size: 10px;
}

.info a{
    text-decoration: none;
    color: rgba(111, 0, 255, 0.866);
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.info h3{
    margin: 6px 0;
    padding: 0;
}

.info p{
    color: #707070;
    margin: 0;
    padding: 0;
}